body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header { /*настройка шапки*/
  position: sticky;
  top: 0;
  width: 100%; /* Шапка займёт всю ширину окна браузера */
  z-index: 1000; /* Высокое значение, чтобы шапка была всегда на первом плане */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.tour-container {
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	margin-top: 20px;
}
.tour-image {
	width: 100%;
	height: 350px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}
.back-btn {
	font-size: 1.2rem;
	text-decoration: none;
}
.rating {
	color: #f39c12;
	font-size: 1.5rem;
	font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.comment-section {
	border-radius: 10px;
	padding: 20px;
	margin-top: 30px;
	max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.comment-input {
	resize: none;
	height: 100px;
}

.review-card {
    border-left: 4px solid #ffc107;
    margin-bottom: 20px;
}

.review-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-date {
    font-size: 0.8rem;
    color: #6c757d;
}

.review-stars {
    color: #ffc107;
    margin-bottom: 10px;
}
.delete-review {
    transition: all 0.2s;
    opacity: 0.5;
}

.delete-review:hover {
    opacity: 1;
    transform: scale(1.1);
}

.rating i {
    margin-right: 2px;
}

#stars-display {
    display: inline-flex;
    align-items: center;
}